html, body {
    height: 100%;
}

.page-wrap {
    height: 100%;
}

body{
	font-family: 'Arvo', serif;	
	color:#6a6a6a;
	font-size:15px;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Great Vibes", cursive;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#333333;
}

h1 a:hover, h2 a:hover, h3 a:hover, 
h4 a:hover, h5 a:hover, h6 a:hover{
	color:#f0394d;
}

h1, h2, h3,
.h1, .h2, .h3{
	 margin-top: 20px;
  margin-bottom: 20px;
}

h4, h5, h6
.h4, .h5, .h6{
	 margin-top: 10px;
  margin-bottom: 10px;
}

h1, .h1{
	font-size:40px;
}

h2, .h2{
	font-size:30px;
}

h3, .h3{
	font-size:20px;
}

h4, .h4{
	font-size:16px;
}

h5, .h5{
  font-size: 14px;
}

h6, .h6{
  font-size: 12px;
}

h1.inline, h2.inline, h3.inline,
h4.inline, h5.inline, h6.inline{
	display:inline;
	vertical-align:middle; 
}

p{
	font-family: 'Arvo', serif;	
	font-size:15px;
	line-height:26px;
	margin-bottom:25px;
}

p.lead{
	font-size:19px;
	line-height:28px;
	font-weight:normal;
}

a{
	text-decoration:none;
	color:#6a6a6a;
}

a:hover{
	text-decoration:none;
}

.clearboth{
	clear:both;
}

.no-padding{
	padding:0;
}

.no-margin{
	margin:0;
}

img.fullwidth{
	width:100%;
}

img.with-border{
	border:1px solid #6a6a6a;
}

#counting-down, #save-the-date, #thank-you {
	font-family: "Great Vibes", cursive; 
}

.groom-color {
	background-color: #f0394d;
	color: #ffffff;
}

.groom-color .the-couple-data h3 {
	color: #ffffff;
}

.the-couple-data h3 {
	margin-bottom: 10px;
}

.the-couple-data p {
	margin-bottom: 10px;
}

.bride-color {
	background-color: #ffffff;
}

.the-couple-img-hover .fb-color:hover {
    background-color: #3c5a98;
    border-color: #3c5a98;
    color: #fff;
    transition: .2s all ease-in;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
}

.the-couple-img-hover .tw-color:hover {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: #fff;
    transition: .2s all ease-in;
    -webkit-transition: .2s all ease-in;
    -moz-transition: .2s all ease-in;
    -ms-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
}


/*===============================================*/
/* 06. MAIN-SLIDER					 		 	 */
/*===============================================*/
#main-slider {
	margin:0; 
	padding:0;
	position:relative;
}

/* ----------------------------------------------*/
/* 06.1 Main Slider Height					     */
/* ----------------------------------------------*/
/* #main-slider.fullscreen - script.js			 */

#main-slider.fixed-height{
	position:relative;
	height:625px;
}

/* ----------------------------------------------*/
/* 06.2 Main Slider Flexslider			  		 */
/* ----------------------------------------------*/
#main-slider.flexslider { 
    border: none; 
    height: 100%;
}

#main-slider .slides,
#main-slider.flexslider .slides li{
	position:relative;
	height:inherit;
	width:100%;
	overflow:hidden;
}

#main-slider.flexslider .flex-viewport{
	position:relative;
	height:inherit;
}

/* 06.2.1 Main Slider Flexslider Control Nav & Paging */
/* ----------------------------------------------*/
#main-slider .flex-control-nav, .flex-control-paging{
	 background-color:transparent !important;
	 margin:0; padding:0;
	 position:absolute;
	 bottom:0;
	 z-index:4;
}

#main-slider.flexslider .flex-direction-nav .flex-prev { left: 0px; }
#main-slider.flexslider .flex-direction-nav .flex-next { right: 0px; text-align: right; }
#main-slider.flexslider:hover .flex-prev { opacity: 0.7; left: 100px; }
#main-slider.flexslider:hover .flex-next { opacity: 0.7; right: 100px; }


#main-slider .flex-direction-nav a {
	z-index:4;
	line-height: 40px;
}

/* ----------------------------------------------*/
/* 06.3 Main Slider Slide-Image		  		 	 */
/* ----------------------------------------------*/

#main-slider .slide-image {
	position:relative;
	height:inherit;
	width:100%;
	background-size:cover; 
	background-position:50% 50%;
	background-color:#FFF;
	-webkit-transform: translateZ(0);
	
}

/* ----------------------------------------------*/
/* 06.4 Main Slider Slide-Video			  		 */
/* ----------------------------------------------*/
#main-slider .slide-video{
	height: inherit; 
	width:100%;
	position:relative;	
}


/* 06.5.1 Outter Wrapper */
/* ----------------------------------------------*/
.slide-title-outter-wrapper{
	position:absolute; 
	width:100%; 
	height:inherit; 
	left:0; 
	z-index:3;
	overflow:hidden;
}

/* 06.5.2 Inner Wrapper */
/* ----------------------------------------------*/
.slide-title-inner-wrapper{
	width:1170px; 
	height:inherit; 
	margin:0 auto; 
	display: table;
}

/* 06.5.3 Title Wrapper */
/* ----------------------------------------------*/
.slide-title{ 
	display: table-cell;
	text-align:center;	
    color:#FFF;
}

.slide-title h1, .slide-title h2, .slide-title h3,
.slide-title h4, .slide-title h5, .slide-title h6{
	color:#FFF;
}


/* 06.5.4 Title Alignment */
/* ----------------------------------------------*/
.slide-title.align-middle{
	vertical-align: middle;
}
.slide-title.align-top{
	vertical-align: top;
	/*padding-top:100px;*/
}
.slide-title.align-bottom{
	vertical-align: bottom;
	/*padding-bottom:0px;*/
}

/* 06.5.6 Save The Date Title */
/* ----------------------------------------------*/
#save-the-date{
	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
	padding-top:4em;
	padding-right:50px;
	margin-bottom:20px;
}

#save{
	font-size:5em; 
	line-height:1;
}

#the-date{
    font-size:5em;
    line-height: 1;
}

#the-date span {
	font-size: 0.7em;
}

#date{
	font-size:2.5em; 
	line-height:1;
}

.pink-dot{
	color: #f0394d; 
}

/* ----------------------------------------------*/
/* 06.6 Each Slide Overlay					     */
/* ----------------------------------------------*/

.slide-overlay{
	position:absolute;
	top:0;
	display:block; 
	width:inherit; 
	height:inherit; 
	background-color:#000; 
	opacity:0.3;
	-webkit-transform: translateZ(0);
}

.image-divider.auto-height, .video-divider.auto-height {
    height: 100%;
    width: 100%;
    padding: 100px 0;
}
.image-divider {
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: 0 100%;
    background-repeat: no-repeat;
    color: #FFF;
    -webkit-backface-visibility: hidden;
}

/* 07.2.11 Banner Text				 			 */
/* ----------------------------------------------*/
.banner-text{
	display:inline-block;
	font-family: 'Oswald', sans-serif; 
	margin:auto;
	margin-top:2.5em;
	margin-bottom:2.5em; 	
	text-align:center
}

.banner-text h4{
    font-family: 'Oswald', sans-serif;
}

.banner-text.small{
	padding:0.2em 1em;  
}

.banner-text.medium{
    padding:0.2em 2em;
    letter-spacing: 0.2em;
}

.banner-text.large{
	padding:0.2em 3em;  
}

.banner-text.full{
	width:100%;
}

.banner-text.light{
	color:#FFF;
	border-top:medium double #fff; 
	border-bottom:medium double #fff;
}

.banner-text.light *{
	color:#FFF;
}

.banner-text.dark{
	color:#6a6a6a;
	border-top:medium double #6a6a6a; 
	border-bottom:medium double #6a6a6a; 	
}

.banner-text.dark *{
	color:#333333;
}

.banner-text.withlove{
	position:relative;
	display:inline-block;
	font-family: 'Oswald', sans-serif;  
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center
}

.banner-text.withlove:before{
	display:block;
	font-family: "fontello";
	position:absolute;
	font-size:22px;
	color:#FFF;
	content:"\e806";
	top:-17px;
	left:0;
	right:0;
	margin-left:19px;
}

.banner-text.withlove.dark:before{
	color:#e1dddd;
}

.banner-text.withlove:after{
	display:block;
	font-family: "fontello";
	position:absolute;
	font-size:22px;
	color:#f0394d;
	content:"\e806";
	top:-17px;
	left:0;
	right:0	;
	margin-right:19px;
}

.heart-divider{
	height:100%; 
	width:100%;
	margin:0 auto; 
	margin-top:1em;
	margin-bottom:1em;
	text-align:center;
}

.white-line{
	width:30px; 
	height:8px;
	display:inline-block;
	border-top:solid 1px #FFF;
}

.grey-line{
	width:30px; 
	height:8px;
	display:inline-block;
	border-top:solid 2px #e1dddd;
}

.banner-heart {
	font-size: 18px !important;
	position:relative;
}

.banner-heart.pink-heart {
    z-index:3;
}

.banner-heart.white-heart {
    z-index:2;
    margin-left:-8px;
}

.pink-heart{
    z-index:3;
}

.white-heart{
	color:#FFF; 
}

.pink-heart{
	color:#f0394d; 
}

.grey-heart{
	color: #e1dddd;
	font-size:18px; 
	margin-left:-8px; 
	position:relative;
    z-index:2;
}

.small-heart-icon {
    font-size: 0.5em !important;
    vertical-align: middle;
}

/*===============================================*/
/* 09. PHOTO ITEM								 */
/*===============================================*/
.photo-item {
	position:relative;
	overflow:hidden;
}

.photo-item.frame-border {
	background-color:#FFF; 
	border:18px solid #FFF;
}

/* ----------------------------------------------*/
/* 09.1 Image 									 */
/* ----------------------------------------------*/
.photo-item img {
	width:100%;
}

/* ----------------------------------------------*/
/* 09.2 Layer 								 	 */
/* ----------------------------------------------*/
.photo-item .layer {
	position: absolute; 
	margin: auto;
	top: 0; 
	right: 0; 
	bottom: 0;
	left: 0;
	width:100%;
	height:100%;
}

.photo-item .layer.wh100{
	width:100%;
	height:100%; 
}

.photo-item .layer.wh95{
	width:95%;
	height:95%; 
}


/* 09.2.1 Layer : Second Image   				 */
/* ----------------------------------------------*/
.photo-item .layer.second-image{
	opacity: 0; 
}


/* 09.2.2 Layer : Black Overlay  				 */
/* ----------------------------------------------*/
.photo-item .layer.opacity-black-overlay{
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.3; 
}

.photo-item .layer.hidden-black-overlay{
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0; 
}

/* 09.2.3 Layer : Photo Caption  				 */
/* ----------------------------------------------*/
.photo-item .layer.photo-caption{
	opacity: 1; 
}

.photo-item .layer.hidden-photo-caption{
	opacity: 0; 
}

.photo-item .layer.border-photo-caption{
	opacity: 1;
	border:1px solid #FFF; 
}

.photo-item .layer.hidden-border-photo-caption{
	opacity: 0;
	border:1px solid #FFF; 
}

/* 09.2.4 Layer : Icon / Button Link		 	 */
/* ----------------------------------------------*/
.photo-item .layer.link{
	opacity: 1;
}

.photo-item .layer.hidden-link{
	opacity: 0;
}

.photo-item:hover .layer.hover-animation.fade-in{
	opacity: 1; 
}

.photo-item:hover .layer.hover-animation.half-fade-in{
	opacity: 0.3; 
}

.photo-item:hover .layer.hover-animation.fade-out{
	opacity: 0; 
}

/* ----------------------------------------------*/
/* 09.3 on Hover Animation					 	*/
/* ----------------------------------------------*/
.photo-item img.hover-animation, .photo-item:hover img.hover-animation{
	-webkit-transition: all 0.5s; 
		-ms-transition: all 0.5s;
		 -o-transition: all 0.5s;
			transition: all 0.5s;
	/*The transition will be disabled on script.js for tablet/mobile*/		
}

.photo-item .layer.hover-animation, .photo-item:hover .layer.hover-animation {
	-webkit-transition: all 0.5s; 
		-ms-transition: all 0.5s;
		 -o-transition: all 0.5s;
			transition: all 0.5s;
	/*The transition will be disabled on script.js for tablet/mobile*/	
}

/* 09.3.1 on Hover Animation Duration		 	 */
/* ----------------------------------------------*/
.photo-item:hover .layer.hover-animation.duration1,
.photo-item:hover img.hover-animation.duration1{
	transition-duration:0.5s;
}

.photo-item:hover .layer.hover-animation.duration2,
.photo-item:hover img.hover-animation.duration12{
	transition-duration:1s;
}

.photo-item:hover .layer.hover-animation.duration3,
.photo-item:hover img.hover-animation.duration3{
	transition-duration:1.5s;
}

.photo-item:hover .layer.hover-animation.duration4,
.photo-item:hover img.hover-animation.duration4{
	transition-duration:2s;
}

.photo-item:hover .layer.hover-animation.duration5,
.photo-item:hover img.hover-animation.duration5{
	transition-duration:2.5s;
}

/* 09.3.2 on Hover Animation Delay		 	 	 */
/* ----------------------------------------------*/
.photo-item:hover .layer.hover-animation.delay1,
.photo-item:hover img.hover-animation.delay1{
	transition-delay:0.5s;
}

.photo-item:hover .layer.hover-animation.delay2,
.photo-item:hover img.hover-animation.delay2{
	transition-delay:1s;
}

.photo-item:hover .layer.hover-animation.delay3,
.photo-item:hover img.hover-animation.delay3{
	transition-delay:1.5s;
}

.photo-item:hover .layer.hover-animation.delay4,
.photo-item:hover img.hover-animation.delay4{
	transition-delay:2s;
}

.photo-item:hover .layer.hover-animation.delay5,
.photo-item:hover img.hover-animation.delay5{
	transition-delay:2.5s;
}


/* 09.3.3 on Hover Zoom In					 	 */
/* ----------------------------------------------*/
.photo-item:hover img.hover-animation.image-zoom-in {
	-webkit-transform: scale(1.1); 
		-ms-transform: scale(1.1);
		 -o-transform: scale(1.1);  
			transform: scale(1.1);		
}

/* 09.3.4 on Hover Zoom In and Rotate	 	 	*/
/* ----------------------------------------------*/
.photo-item:hover img.hover-animation.image-zoom-rotate {
	-webkit-transform: rotate(7deg) scale(1.1);
		-ms-transform: rotate(7deg) scale(1.1);
		 -o-transform: rotate(7deg) scale(1.1);  
			transform: rotate(7deg) scale(1.1);			
}

/* 09.3.5 on Hover Fade Out				 		 */
/* ----------------------------------------------*/
.photo-item:hover img.hover-animation.image-fade-out {
	opacity:0;
}

/* 07.2.6  Align Middle Wrapper					 */
/* ----------------------------------------------*/
.alignment{
	position:absolute;
	display:table;
	height:100%;
	width:100%;
}

.v-align{
	display:table-cell;	
}

.center-middle{
	vertical-align:middle;
	text-align:center;
}

.center-top{
	vertical-align:top;
	text-align:center;
}

.center-bottom{
	vertical-align:bottom;
	text-align:center;
}

/* 07.2.10 BUTTON					 			 */
/* ----------------------------------------------*/
a.de-button, span.de-button, input[type=submit]{
	display:inline-block; 	
	margin:0 auto; 
	margin-top:20px; 
	background-color:#FFF; 
	font-family: 'Oswald', sans-serif; 	
	border:solid 1px #6a6a6a
}

a.de-button.outline, span.de-button.outline, input[type=submit].outline{
	background-color:transparent; 
	border:solid 1px #FFF;
	color:#FFF;
}

a.de-button.reverse, span.de-button.reverse, input[type=submit].reverse{
	background-color:#f0394d; 
	border:solid 1px #f0394d;
	color:#FFF;
}

a.de-button.small, span.de-button.small, input[type=submit].small{
	padding:8px 26px; 
	font-size:14px; 
}

a.de-button.medium, span.de-button.medium, input[type=submit].medium{
	padding:10px 50px; 
	font-size:16px; 
}

a.de-button.large, span.de-button.large, input[type=submit].large{
	padding:14px 70px; 
	font-size:20px; 
}

a.de-button:hover, input[type=submit]:hover{
	background-color:#f0394d;
	border-color:#f0394d;
	color:#FFF;
	text-decoration:none;
}

a.de-button.reverse:hover, input[type=submit].reverse:hover{
	background-color:#FFF;
	border-color:#FFF;
	color:#6a6a6a;
	text-decoration:none;
	border:solid 1px #6a6a6a
}

input[type=submit]:disabled, input[type=submit]:hover:disabled{
   background-color:#CCC !important;
   border:solid 1px #CCC !important;
   color:#FFF !important;;
}


/* ----------------------------------------------*/
/* 12.1 Couple Section							 */
/* ----------------------------------------------*/

#couple{
	padding:100px 0 100px 0;
}

.the-couple {
	width: 100%;
	padding: 2em;
}

.the-couple-title p span {
	text-transform: uppercase;
	font-size: 1.5em;
    letter-spacing: 8px;
    margin-top: 9px;
}

.img-circle {
    border-radius: 50%;
}

.person-image {
    width: 64%;
}

.person-image {
    width: 80%;
    margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.the-couple-img-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    border-radius: 50%;
    opacity: 0;
    top: 0;
    text-align: center;
    transition: .3s all ease-in;
    -webkit-transition: .3s all ease-in;
    -moz-transition: .3s all ease-in;
    -ms-transition: .3s all ease-in;
	-o-transition: .3s all ease-in;
	display: flex;
    align-items: center;
}

.the-couple-img-hover .social {
    width: 100%;
}

.the-couple-img-hover a {
    border: 1px solid #000;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    display: inline-block;
    color: #000;
	margin: 0px 5px;
	padding-top: 4px;
}

.the-couple-data h3 {
    font-size: 2em;
}
.the-couple-data h3 {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

.person-image:hover .the-couple-img-hover {
    opacity: 1;
}

/* ----------------------------------------------*/
/* 12.2 Location & Countdown Section			 */
/* ----------------------------------------------*/

#counting-down{
	text-align:center; 
	color:#FFF; 
	-ms-transform: rotate(-10deg); 
	-webkit-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	padding-right:30px;
	margin-top:0px;
	margin-bottom:25px;
}

#counting{
	font-size:65px; 
	line-height:50px
}

#down{
	font-size:55px; 
	line-height:65px;
}

.simple-countdown{
    width:80%;
    max-width: 500px;
	margin:0 auto; 
	margin-top:25px
}

.simple-countdown.is-countdown {
	border: none;
	background-color:transparent;
	color:#f0394d;
	font-family: 'Oswald', sans-serif; 
	font-size:13px;
}

.simple-countdown .countdown-amount {
	display:inline-block;
	font-size:3em;
	letter-spacing:2px;
}
.simple-countdown .countdown-period {
    display:inline-block;
	font-size:1.5em;
}

.is-countdown {
	border: 1px solid #ccc;
	background-color: #eee;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}
.countdown-row {
	width: 100%;
	padding: 0px 2px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.countdown-section {
	font-size: 75%;
    text-align: center;
    background-color: #f0394d;
    color: #fff;
    padding: 1em 2em;
    flex: 0 0 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 2em 0;
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

.image-divider .divider-overlay,
.video-divider .divider-overlay{
	position:absolute; 
	top:0; 
	display:block; 
	width:100%; 
	height:100%; 
	background-color:#000; 
	opacity:0.3
}

.image-divider.auto-height,
.video-divider.auto-height {
	height:100%;
	width:100%;
}

#content {
    background-color: #f6f6f6;
}
/* ----------------------------------------------*/
/* 14.5 Gallery Section							 */
/* ----------------------------------------------*/
#gallery-section{
    padding: 100px 0;
}

#gallery-section .photo-item{
	margin-bottom:30px;
}

/*===============================================*/
/* 08. ICON										 */
/*===============================================*/
.de-icon{
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size:30px;
	text-align: center;
	vertical-align: middle;	
	margin:8px 0px;
	
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
	/*The transition will be disabled on script.js for tablet/mobile*/
}

.de-icon.aligncenter{
	margin:0 auto;
}

.de-icon.inline{
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
}

.de-icon.float{
	float:left; 
	margin-right:15px
}

.de-icon i{
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
	/*The transition will be disabled on script.js for tablet/mobile*/
}

/*------------------------------------------------*/
/* 08.1	 Size 							   	  	  */
/*------------------------------------------------*/
.de-icon.large-size{
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size:40px;	
}

.de-icon.medium-size{
	width: 54px;
	height: 54px;
	line-height: 54px;
	font-size:21px;	
}

.de-icon.small-size{
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size:18px;	
}

.de-icon.very-small-size{
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size:11px;	
}

/*------------------------------------------------*/
/* 08.2 Shape									  */
/*------------------------------------------------*/

/* 08.2.1 Default								  */
/*------------------------------------------------*/
.de-icon.default{
	color:#6a6a6a;
}

.de-icon.default.light{
	color:#FFF;
}

.de-icon.default.reverse{
	color:#f0394d;
}

a:hover .de-icon.default, a:hover .de-icon.default.light{
	color:#f0394d;
}

a:hover .de-icon.default.reverse{
	color:#6a6a6a;
}

a:hover .de-icon.default.light.reverse{
	color:#FFF;
}

/* 08.2.2 Circle, Rounded, Square				  */
/*------------------------------------------------*/
.de-icon.circle{
	border-radius: 50%;
}

.de-icon.rounded{
	border-radius: 20%;
}

.de-icon.square, .de-icon.circle, .de-icon.rounded{
	background-color:#6a6a6a;
	color:#FFF;
}

.de-icon.square.reverse, .de-icon.circle.reverse, .de-icon.rounded.reverse{
	background-color:#f0394d;
	color:#FFF;
}

.de-icon.square.light, .de-icon.circle.light, .de-icon.rounded.light{
	background-color:#FFF;
	color:#6a6a6a;
}

.de-icon.square.light.reverse, .de-icon.circle.light.reverse, .de-icon.rounded.light.reverse{
	background-color:#FFF;
	color:#f0394d;
}


.de-icon.outline{
	background-color:transparent;
	color:#6a6a6a;
	border:1px solid #6a6a6a;
}

.de-icon.outline.reverse{
	background-color:transparent;
	color:#f0394d;
	border:1px solid #f0394d;
}

.de-icon.outline.light, .de-icon.outline.light.reverse{
	background-color:transparent;
	color:#FFF;
	border:1px solid #FFF;
}

a:hover .de-icon.circle, a:hover .de-icon.rounded, a:hover .de-icon.square{
	background-color:#f0394d;
	color:#FFF;
	border:none;
}

a:hover .de-icon.circle.reverse, a:hover .de-icon.rounded.reverse, a:hover .de-icon.square.reverse{
	background-color:#6a6a6a;
	color:#FFF;
	border:none;
}

#rsvp {
	width: 100%;
}

.rsvp-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rsvp-block {
    background:rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    color: #222;
    padding: 2em;
	width: 50%;
	position: relative;
	z-index: 9;
}

.rsvp-block label {
	font-weight: normal;
}

.rsvp-button {
    letter-spacing: 3px;
    background-color: #f0394d;
    border-radius: 3px;
    text-decoration: none !important;
	border: none;
	margin-top: 10px;
	color: #ffffff;
}

#family {
	width: 100%;
	padding: 100px 0;
}

.the-people {
	padding: 2em;
	background-color: #ffffff;
	position: relative;
}

.cat-title {
	width: 100%;
	position: absolute;
	top: -15px;
	text-align: center;
	left: 0;
}

.cat-title span.label-default {
	background-color: #f0394d;
}

.cat-title span{
	display: inline-block;
	padding: 0.6em 2em;
	font-size: 0.8em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.margin-top50 {
	margin-top: 50px;
}

.family-carousel .the-couple-data h3 {
	font-family: "Arvo", serif;
}
.family-carousel .the-couple-data h3 {
	text-shadow: none;
	font-size: 1.2em;
}

.family-carousel .the-couple-data p {
	margin-bottom: 0;
}

/*------------------------------------------------*/
/* 08.3 Effect Zoom 						 	  */
/*------------------------------------------------*/
.de-icon.effect1{
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	     -o-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);	
}

a:hover .de-icon.effect1{
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
	     -o-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);	
}

/*------------------------------------------------*/
/* 08.4 Effect Rotate						  	  */
/*------------------------------------------------*/
.de-icon.effect2 i{
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);	
}

a:hover .de-icon.effect2 i{
	-webkit-transform: rotate(360deg);
	   -moz-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	        transform: rotate(360deg);	
}

/*------------------------------------------------*/
/* 08.5 Effect Square/Rounded To Circle 	  	  */
/*------------------------------------------------*/
a:hover .de-icon.effect3{
	background-color:#f0394d;
	color:#fff;
	border-radius: 50%;
}

footer .image-divider.fixed-height {
    height: 550px;
}

footer .image-divider {
    background-position: 50% 0;
}


#thank-you{
	text-align:center; 
	color:#FFF; 
	-ms-transform: rotate(-10deg); 
	-webkit-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	padding-right:30px;
	margin-top:40px;
    margin-bottom:25px;
    line-height: 1;
}

#thank{
	font-size:4em; 
}

#you{
	font-size:4em; 
}

#footer-couple-name{
	font-family: 'Oswald', sans-serif; 
	font-size:1.5em; 
	color:#FFF; 
	letter-spacing:3px; 
	margin-top:1em;
}

#location {
	width: 100%;
	height: 500px;
	position: relative;
}

.address-panel {
	width: 300px;
	padding: 2em;
	background: #ffffff;
	position: absolute;
	right: 10%;
	top: 100px;
}

#location-countdown .image-divider.auto-height {
	padding-top: 60px;
}

@media screen and (max-width: 1200px) {
    .slide-title-inner-wrapper {
        width: 100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .page-wrap {
        font-size: 1.69vw;
    }
}

@media screen and (max-width: 812px) and (orientation: landscape) {
    .page-wrap {
        font-size: calc(16px + (32 - 16) * ((100vh - 320px) / (720 - 320)));
    }

    #save-the-date {
        padding-top: 3em;
    }

    #save {
        font-size: 3em;
    }

    #the-date {
        font-size: 2.5em;
    }

    #date {
        font-size: 2em;
    }

    .banner-text {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .heart-divider {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
	}
	
	.responsive-margin {
		margin-bottom: 2em;
	}

	.image-divider {
		background-attachment: scroll;
	}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .page-wrap {
        font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (720 - 320)));
    }

    .banner-text.medium h4{
        font-size: 0.6em;
    }

    .photo-item.frame-border {
        border: 10px solid #fff;
	}
	
	.the-couple {
		padding: 2em;
	}

	.the-couple-data h3 {
		font-size: 1.8em;
	}

	.responsive-margin {
		margin-bottom: 2em;
	}

	.countdown-section {
		padding: 1em 1.5em;
	}

	.simple-countdown .countdown-amount {
		font-size: 2em;
	}

	.rsvp-block { 
		width: 90%;
	}

	.image-divider {
		background-attachment: scroll;
	}
}

@media screen and (min-width: 1200px) {
    .page-wrap {
        font-size: 3vmin;
    }
}